.note-editable,
.note-editable * {
  font-family: 'Poppins', Arial, sans-serif !important;
}

.wrapped-text {
  display: inline-block;
  width: 8ch; /* 'ch' jednotka nastaví šírku podľa šírky znaku '0' v aktuálnom fonte */
  word-wrap: break-word; /* zalamuje slová na konci riadku */
}/* Add here all your CSS customizations */
.button-container {
  display: flex;
  justify-content: center; /* zarovná tlačidlá do stredu, ak je to potrebné */
  gap: 10px; /* nastaví medzeru medzi tlačidlami */
}


/*dashboard kalendar*/
.card-body {
  padding: 1rem 1.2rem;
}

.card {
  margin-bottom: 1.5rem;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-decoration: none;
}

.card-body ul {
  padding-left: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-body ul li {
  font-size: 0.9rem;
  color: #555;
}

.summary .amount {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.summary .text-muted {
  font-size: 0.9rem;
  color: #888;
}

.row > [class*='col-'] {
  padding-right: 10px;
  padding-left: 5px;
  margin-bottom: 1rem;
}

.card-calendar {
  height: 100%;
}
.number_custom {
  font-size: 25px;

}
#calendar {
  min-height: 400px;
}
/*dashboard kalendar end*/

/*menu zfarbenie*/
.nav-main li.active {
  background-color: rgba(173, 222, 253, 0.32); /* Jemná modrá farba */
  font-weight: 600;
}
.nav-main li.active a.nav-link {
  color: #000000; /* Zachová farbu textu pre čitateľnosť */
}
/*menu zfarbenie end*/

/*nastavenie inputov a vysvetliviek*/

.tooltip-inner {
  max-width: 600px !important;
  white-space: normal;
  text-align: left;
  font-weight: 500;
}
/*koniec nastavenie inputov a vysvetliviek*/
