.slider-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 600px;
}

.slider-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.slider-section.active {
	opacity: 1;
}

.slider-navigation {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	z-index: 1000;
}

.slider-navigation .prev,
.slider-navigation .next {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
	cursor: pointer;
	user-select: none;
	font-size: 24px;
}

.text-background {
	background-color: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 32px;
	text-align: center;
	max-width: 800px; /* Optional: Maximum width */
	height: 200px; /* Fixed height */
	margin: 0 auto; /* Center the text container */
	position: relative; /* Ensure position-relative for the absolute children */
}

/*slider css- end*/

.translucent-background {
	background-color: rgba(255, 255, 255, 0.36); /* Semi-transparent gray */
	backdrop-filter: blur(5px); /* Frosted glass effect */
	-webkit-backdrop-filter: blur(5px); /* For Safari */
	padding: 20px; /* Adding padding for better text readability */
	border-radius: 10px; /* Optional: rounded corners for a softer look */
}
/*---------------------------------------------------------------------------------------------------------------*/

/*Nastavenie css pre menu:*/


.dropdown-menu {
	z-index: 1050; /* Increase z-index to ensure it is above other content */
	position: absolute;
}
.no-link {
	cursor: default;
	color: inherit;
	text-decoration: none;
}
@media (max-width: 768px) {
	.no-link {
		pointer-events: auto;
		cursor: pointer;
	}
}
.nav-item .dropdown-menu {
	display: none;
	transition: all 0.3s ease-in-out;
}
.nav-item:hover .dropdown-menu,
.nav-item:focus-within .dropdown-menu {
	display: block;
}
.nav-item.active > a {
	background-color: #007bff;
	color: white;
}
.dropdown-toggle::after {
	transition: transform 0.3s ease-in-out;
}
.nav-item:hover .dropdown-toggle::after {
	transform: rotate(180deg);
}
@media (max-width: 768px) {
	.nav {
		flex-direction: column;
	}
	.nav-item {
		width: 100%;
	}
	.nav-item .dropdown-menu {
		position: static;
		float: none;
	}
	.dropdown-menu .dropdown-item {
		width: 100%;
	}
}
.nav-item-hide {
	display: none;
}
@media (min-width: 768px) {
	.nav-item-hide {
		display: block;
	}
}
.header-nav-hide {
	display: none;
}
@media (min-width: 768px) {
	.header-nav-hide {
		display: inline-flex;
	}
}
@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) {
		.no-link {
			pointer-events: auto;
			cursor: pointer;
		}
	}
}
@media (min-width: 769px) {
	.nav-item:hover .dropdown-menu {
		display: block !important;
	}
	.dropdown-menu {
		display: none;
	}
}





/*---------------------------------------------------------------------------------------------------------------*/

/*Nastavenie css pre buttony:*/



/*.container {*/
/*	display: flex;*/
/*	align-items: center;*/
/*	padding: 0 0 10px 0;*/
/*}*/

.pulse-button {
	background-color: #13814d;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0px 49px;
	font-size: 15px;
	cursor: pointer;
	outline: none;
	animation: pulse 3s infinite;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.aroma-button {
	background-color: #13814d;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0px 20px;
	font-size: 13px;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}


@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(107, 188, 75);
	}
	70% {
		transform: scale(1.1);
		box-shadow: 0 0 10px 20px rgba(0, 123, 255, 0);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
	}
}

.lang img {
	vertical-align: middle;
}
.nav-item a {
	text-decoration: none; /* Remove underline by default */
}
.nav-item a:hover {
	text-decoration: none; /* Remove underline on hover */
}
/*---------------------------------------------------------------------------------------------------------------*/
/*Nastavenie css pre carussel-home-aktuelles :*/
.home-carousel-card {
	position: relative;
	width: 100%;
	max-width: 270px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: white;
	margin: 0 auto;
}

.home-carousel-card .home-carousel-img-container {
	position: relative;
	width: 100%;
	padding-top: 75%; /* Aspect ratio */
	overflow: hidden;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.home-carousel-card img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: auto;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}

.home-carousel-card-content {
	padding: 16px;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.home-carousel-card-content h5 {
	margin: 0;
}

.home-carousel-card-content p {
	display: none;
	margin-top: 25px;
	font-size: 15px;
}

.home-carousel-card:hover img {
	transform: translate(-50%, -50%) scale(0.9);
}

.home-carousel-card:hover .home-carousel-card-content {
	padding-bottom: 48px;
}

.home-carousel-card:hover .home-carousel-card-content p {
	display: block;
}

/* Responsive CSS */
@media (max-width: 1200px) {
	.home-carousel-card {
		max-width: 220px;
	}
}

@media (max-width: 992px) {
	.home-carousel-card {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.home-carousel-card {
		max-width: 180px;
	}
}

@media (max-width: 576px) {
	.home-carousel-card {
		max-width: 150px;
	}

	.home-carousel-card-content {
		padding: 12px;
	}
}

@media (max-width: 400px) {
	.home-carousel-card {
		max-width: 130px;
	}

	.home-carousel-card-content {
		padding: 8px;
	}

	.home-carousel-card-content h5 {
		font-size: 14px;
	}

	.home-carousel-card-content p {
		font-size: 12px;
	}
}




/*---------------------------------------------------------------------------------------------------------------*/
/*Nastavenie css pre :*/
